
<form>

    <div id="iCadastro" class="form-group">
        <div >
            <div id="cEsq">
                <label for="cNome">Digite seu Nome</label>
                <input type="text" class="form-control" id="cNome" aria-describedby="emailHelp" placeholder="Nome"
                    maxlength="30">
                <label for="cLogin">Login</label>
                <input type="text" class="form-control" id="cLogin" placeholder="Login" maxlength="50">
                <label for="cSenha">Senha</label>
                <input type="password" class="form-control" id="cSenha" aria-describedby="emailHelp" placeholder="Senha"
                    maxlength="50">
                <label for="cEmail">E-mail</label>
                <input type="text" class="form-control" id="cEmail" aria-describedby="emailHelp" placeholder="E-mail"
                    maxlength="50">
            </div>
            <div id="cDir">
                <label for="cData">Data de Nascimento</label> <input type="text" class="form-control" id="cData"
                    aria-describedby="emailHelp" placeholder="Data de Nascimento" maxlength="50">
                <label for="cCpf">CPF</label>
                <input type="text" class="form-control" id="cCpf" aria-describedby="emailHelp" placeholder="CPF"
                    maxlength="50">
                <label for="cFone">Telefones</label>
                <input type="text" class="form-control" id="cFone" aria-describedby="emailHelp" placeholder="Telefones"
                    maxlength="50">
                <label for="cEnd">Endereços</label>
                <input type="text" class="form-control" id="cEnd" aria-describedby="emailHelp" placeholder="Endereços"
                    maxlength="50">
            </div>

        </div>
    </div>
    <button id="cBotao" type="submit" class="btn btn-primary">Entrar</button>
</form>