<p id="pLogin" class="" style>Login</p>

<form>

    <div id="iLogin">
        <div >
            <label for="iNome">Digite seu Login</label>
            <input type="text" class="form-control" id="iNome" aria-describedby="emailHelp" placeholder="Enter email"
                maxlength="50">
            <small id="emailHelp" class="form-text text-muted">Não compartilhe sua senha para ninguem.</small>


            <div class="form-group">
                <label for="exampleInputPassword1">senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
        </div>
    </div>
    <button id="lBotao" type="submit" class="btn btn-primary">Entrar</button>
</form>